// * image alignment with text in posts * //

[data-theme-image="left"] {
    float: left;
    img {
      padding: 10px;
    }
}

[data-theme-image="right"] {
    float: right;
    img {
      padding: 10px;
    }
}
